.bg {
  background: #ff5c01;
}
.cl {
  color: #ff5c01;
}
a {
  color: black !important;
  text-decoration: none;
}
.sd {
  -webkit-box-shadow: 2px 10px 13px -5px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 2px 10px 13px -5px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 10px 13px -5px rgba(0, 0, 0, 0.27);
}
.sdhd {
  -webkit-box-shadow: -1px 2px 21px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 2px 21px 0px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 2px 21px 0px rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 1203px) {
  #category--box {
    width: 0 !important;
    display: none !important;
  }
  #content--box {
    width: 100% !important;
  }
  #menu--box {
    display: none !important;
  }
  #search--box {
    width: calc(100% - 160px - 40px) !important;
  }
  #menu--box__reponsive {
    display: block !important;
  }
}
@media only screen and (max-width: 569px) {
  #logo--box {
    display: none !important;
  }
  #search--box {
    width: calc(100% - 40px) !important;
    padding-left: 0 !important;
  }
  #banner--box {
    height: 130px !important;
  }
}
.category--button:hover {
  background: #ff5c01 !important;
  color: #fff !important;
  transition: 0.4s;
}

/* PlantContent */
#box--price:hover {
  border: 3px solid #ff5c01 !important;
  transition: 0.4s;
}
#box--price:hover #box--price__header {
  background: #ff5c01 !important;
  transition: 0.4s;
}
#combo--box {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ebebf5;
}
#combo--box__icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
#combo--box__text {
  width: calc(100% - 40px);
  height: 40px;
}
#combo--box__text p {
  font-size: 110%;
  line-height: 39px;
}
